.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
  /* height: auto; */
}

/* @media (min-width: 500px) and (min-height: 400px) {
  .CheckoutSummary {
    width: 350px;
    height: auto;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .CheckoutSummary {
    width: 450px;
    height: auto;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .CheckoutSummary {
    width: 700px;
    height: auto;
  }
} */
