.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}

/* @media (min-width: 500px) and (min-height: 401px) {
  .ContactData {
    width: 450px;
    height: 400px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .ContactData {
    width: 700px;
    height: 600px;
  }
} */
