.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
  }
  
  @media screen and (min-width: 600px) {
    .Auth {
      width: 500px;
    }
  }